<main class="main" id="top">


  <div class="container-fluid" data-layout="container-fluid">

    <div class="content">
      <nav class="navbar navbar-light navbar-glass navbar-top sticky-kit navbar-expand bg-theme-color ">
        <a class="navbar-brand mr-1 mr-sm-3" href="../index.html">
          <div class="d-flex align-items-center">
            <span class="text-sans-serif text-primary text-white d-none  d-md-block"><span
                class="font-weight-100">NIGERIA |</span>&nbsp;&nbsp;<span class="font-weight-300">VULNERABLE POPULATIONS
                DASHBOARD</span></span>
            <span class="text-sans-serif text-primary text-white d-block  d-md-none navbar-brand-md-fix">NIGERIA: VULNERABLE POPULATIONS DASHBOARD</span>
          </div>
          <!-- <div class="not-navbar-brand">ZERO HUNGER ROUNDTABLE</div> -->
        </a>
      </nav>
      <div class="">
        <div class="position-fixed filter-tray mt-4">
          <!-- <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#settings-modal">Launch modal right</button> -->
          <a (click)="chartDataService.resetAllFilters()" class="theme-color pointer ">
            <span class="fa-stack fa-2x mt-2" data-toggle="tooltip" data-placement="left" title="Clear all filters">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-redo fa-stack-1x fa-inverse"></i>
            </span>
          </a>
          <a data-toggle="modal" data-target="#settings-modal" class="theme-color pointer ">
            <span class="fa-stack fa-2x mt-2" data-toggle="tooltip" data-placement="left" title="Set filters">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-filter fa-stack-1x fa-inverse"></i>
            </span>
          </a>

        </div>
      </div>
      <div class="media mb-4 mt-3"><span class="fa-stack mr-2 ml-n1"><i
            class="fas fa-circle fa-stack-2x text-300"></i><i
            class="fa-inverse fa-stack-1x text-primary fas fa-globe-africa theme-color"></i></span>
        <div class="media-body">
          <h5 class="mb-0 text-primary position-relative"><span
              class="bg-200 pr-3 text-primary text-uppercase theme-color">Population & Vulnerable Groups</span><span
              class="border position-absolute absolute-vertical-center w-100 z-index--1 l-0"></span>
          </h5>
          <p class="mb-0 text-uppercase">Disaggregation of Vulnerable Population by Groups</p>
        </div>
      </div>
      
      <hr/>
      <!-- <div #one (complete)="clip($event)" [countUp]="345000000000" class=" display-4 fs-4 mb-2 text-sans-serif text-uppercase text-300 truncate" >0</div>
      <div appCountup class="display-4 fs-4 mb-2 text-sans-serif text-uppercase text-300 truncate" data-options='{"count":202800000,"format":"alphanumeric","prefix":""}'>0</div> -->
      <div calss="row no-gutters">
        <div class="card-deck">

          <div class="card mb-3 overflow-hidden text-white bg-card-gradient-custom" style="min-width: 12rem">
            <div class="bg-holder bg-card" style="background-image:url(assets/img/illustrations/corner-3.png);">
            </div>
            <!--/.bg-holder-->
            <div class="card-body position-relative">
              <h6 class="text-white text-uppercase">Population<span class="ml-1 text-400" data-toggle="tooltip"
                  data-placement="top" title="Population of Nigeria"><span
                    class="far fa-question-circle" data-fa-transform="shrink-1"></span></span></h6>
              <!-- <div class="display-4 fs-4 mb-2 text-sans-serif text-uppercase text-300 truncate"
                data-countup='{"count":202800000,"format":"alphanumeric","prefix":""}'>0</div> -->
              <div aria-label="population" appCountup
                class="display-4 fs-4 mb-2 text-sans-serif text-uppercase text-300 truncate"
                options='{ "count": 202800000, "format": "alphanumeric", "prefix": "" }' [val]="chartDataService.population"
                  data-options='{ "count": 202800000, "format": "alphanumeric", "prefix": "" }'>0</div>
                <span class="absolute bottom-point-9em font-size-70-pct pop-count">{{chartDataService.popInfo}}<span class="fas fa-angle-right ml-1"
                    data-fa-transform="down-1"></span></span>
            </div>
          </div>
          <div class="card mb-3 overflow-hidden" style="min-width: 12rem">
            <div class="bg-holder bg-card" style="background-image:url(assets/img/illustrations/corner-3.png);">
            </div>
            <!--/.bg-holder-->

            <div class="card-body position-relative">
              <h6 class="theme-color text-uppercase font-weight-semi-bold">Disabled<span class="ml-1 text-400"
                  data-toggle="tooltip" data-placement="top" title="Population of persons living with Disabilities"><span
                    class="far fa-question-circle" data-fa-transform="shrink-1"></span></span></h6>
              <div aria-label="disabled" appCountup
                class="display-4 fs-4 mb-2 font-weight-normal text-sans-serif theme-color text-200 truncate"
                [val]="chartDataService.disabled"
                data-options='{"count":140200,"format":"alphanumeric","prefix":""}'>0
               </div>
              <!-- <a class="font-weight-semi-bold fs--1 text-nowrap" href="#!">Statistics<span
                  class="fas fa-angle-right ml-1" data-fa-transform="down-1"></span></a> -->
            </div>
          </div>
          <div class="card mb-3 overflow-hidden" style="min-width: 12rem">
            <div class="bg-holder bg-card" style="background-image:url(assets/img/illustrations/corner-3.png);">
            </div>
            <!--/.bg-holder-->

            <div class="card-body position-relative">
              <h6 class="theme-color text-uppercase font-weight-semi-bold">Elderly
                <span class="ml-1 text-400" data-toggle="tooltip" data-placement="top"
                  title="Population of aged people"><span class="far fa-question-circle"
                    data-fa-transform="shrink-1"></span></span>
              </h6>
              <div aria-label="aged" appCountup
                class="display-4 fs-4 mb-2 font-weight-normal text-sans-serif theme-color text-200"
                [val]="chartDataService.aged" data-options='{"count":345300,"format":"alphanumeric","prefix":""}'>0
                </div>
              <!-- <a class="font-weight-semi-bold fs--1 text-nowrap" href="#!">Statistics<span
                  class="fas fa-angle-right ml-1" data-fa-transform="down-1"></span></a> -->
            </div>
          </div>
          <div class="card mb-3 overflow-hidden" style="min-width: 12rem">
            <div class="bg-holder bg-card" style="background-image:url(assets/img/illustrations/corner-3.png);">
            </div>
            <!--/.bg-holder-->

            <div class="card-body position-relative">
              <h6 class="theme-color text-uppercase font-weight-semi-bold">Number of WHH
                <span class="ml-1 text-400" data-toggle="tooltip" data-placement="top"
                  title="Population of Widow-headed households"><span class="far fa-question-circle"
                    data-fa-transform="shrink-1"></span></span>
              </h6>
              <div aria-label="whh" appCountup
                class="display-4 fs-4 mb-2 font-weight-normal text-sans-serif theme-color text-200"
                [val]="chartDataService.whh" data-options='{"count":342100,"format":"alphanumeric","prefix":""}'>0</div>
              <!-- <a class="font-weight-semi-bold fs--1 text-nowrap" href="#!">Statistics<span
                  class="fas fa-angle-right ml-1" data-fa-transform="down-1"></span></a> -->
            </div>
          </div>
          <div class="card mb-3 overflow-hidden" style="min-width: 12rem">
            <div class="bg-holder bg-card" style="background-image:url(assets/img/illustrations/corner-3.png);">
            </div>
            <!--/.bg-holder-->

            <div class="card-body position-relative">
              <h6 class="theme-color text-uppercase font-weight-semi-bold">Number of FHH
                <span class="ml-1 text-400" data-toggle="tooltip" data-placement="top"
                  title="Population of Female-headed households"><span class="far fa-question-circle"
                    data-fa-transform="shrink-1"></span></span>
              </h6>
              <div aria-label="fhh" appCountup
                class="display-4 fs-4 mb-2 font-weight-normal text-sans-serif theme-color text-200"
                [val]="chartDataService.fhh" data-options='{"count":532500,"format":"alphanumeric","prefix":""}'>0</div>
              <!-- <a class="font-weight-semi-bold fs--1 text-nowrap" href="#!">Statistics<span
                  class="fas fa-angle-right ml-1" data-fa-transform="down-1"></span></a> -->
            </div>
          </div>
          <div class="card mb-3 overflow-hidden" style="min-width: 12rem">
            <div class="bg-holder bg-card" style="background-image:url(assets/img/illustrations/corner-3.png);">
            </div>
            <!--/.bg-holder-->

            <div class="card-body position-relative">
              <h6 class="theme-color text-uppercase font-weight-semi-bold">Chronically Ill
                <span class="ml-1 text-400" data-toggle="tooltip" data-placement="top"
                  title="Population of persons who are Chronically ill"><span class="far fa-question-circle"
                    data-fa-transform="shrink-1"></span></span>
              </h6>
              <div aria-label="ill" appCountup
                class="display-4 fs-4 mb-2 font-weight-normal text-sans-serif theme-color text-200"
                [val]="chartDataService.ill" data-options='{"count":114800,"format":"alphanumeric","prefix":""}'>0</div>
              <!-- <a class="font-weight-semi-bold fs--1 text-nowrap" href="#!">Statistics<span
                  class="fas fa-angle-right ml-1" data-fa-transform="down-1"></span></a> -->
            </div>
          </div>
          <div class="card mb-3 overflow-hidden" style="min-width: 12rem">
            <div class="bg-holder bg-card" style="background-image:url(assets/img/illustrations/corner-3.png);">
            </div>
            <!--/.bg-holder-->

            <div class="card-body position-relative">
              <h6 class="theme-color text-uppercase font-weight-semi-bold">Under 15
                <span class="ml-1 text-400" data-toggle="tooltip" data-placement="top"
                  title="Population of persons aged 15 and below"><span class="far fa-question-circle"
                    data-fa-transform="shrink-1"></span></span>
              </h6>
              <div aria-label="under15" appCountup class="display-4 fs-4 mb-2 font-weight-normal text-sans-serif theme-color text-200"
                [val]="chartDataService.under15" data-options='{"count":456200,"format":"alphanumeric","prefix":""}'>0
                </div>
              <!-- <a class="font-weight-semi-bold fs--1 text-nowrap" href="#!">Statistics<span
                  class="fas fa-angle-right ml-1" data-fa-transform="down-1"></span></a> -->
            </div>
          </div>

        </div>
      </div>

      <div class="media mb-4 mt-3"><span class="fa-stack mr-2 ml-n1"><i
            class="fas fa-circle fa-stack-2x text-300"></i><i
            class="fa-inverse fa-stack-1x text-primary fas fa-map-marked-alt theme-color"></i></span>
        <div class="media-body">
          <h5 class="mb-0 text-primary position-relative"><span class="bg-200 pr-3 text-uppercase theme-color">National
              Social register & Hunger Map</span><span
              class="border position-absolute absolute-vertical-center w-100 z-index--1 l-0"></span>
          </h5>
          <p class="mb-0 text-uppercase">Map Showing Vulnerable Population in Nigeria.</p>
        </div>
      </div>
      <div class="row no-gutters">

        <div class="col-lg-2 col-md-2 col-xxl-2 mb-3 pr-md-2 pr-xxl-2">
          <div class="card h-md-100">
            <div class="card-header d-flex flex-between-center pb-0">
              <h6 class="theme-color text-uppercase font-weight-semi-bold">National Social Register
              </h6>
            </div>
            <div class="card-body bg-light rounded-soft">
              <!-- <div class="row text-black align-items-center no-gutters">
                <div class="col">
                  <h4 class="text-black mb-0">National Social Register</h4>
                  <p class="fs--1 font-weight-semi-bold">Yesterday <span class="opacity-50">$684.87</span></p>
                </div>
              </div> -->
              <div (chartInit)="chartDataService.addEchartsInstance('pie1', $event)" echarts
                [options]="chartDataService.pieChartOptions"
                class="pie-patch"></div>

              <p class="text-uppercase mb-0 font-size-70-pct font-weight-semi-bold">Insufficient Food Consumption</p>
              <div class="d-flex align-items-center mb-2">
                <div class="progress w-100 mr-2 rounded-soft bg-200" style="height: 5px;">
                  <div class="progress-bar bg-success rounded-capsule" role="progressbar" style="width: 18%;"
                    aria-valuenow="18" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="font-weight-semi-bold ml-2">18%</div>
              </div>
              <hr class="no-margin" />
              <p class="text-uppercase mb-0 font-size-70-pct font-weight-semi-bold mt-2">Chronic Malnutrition</p>
              <div class="d-flex align-items-center">
                <div class="progress w-100 mr-2 rounded-soft bg-200" style="height: 5px;">
                  <div class="progress-bar bg-success rounded-capsule" role="progressbar" style="width: 32%;"
                    aria-valuenow="32" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="font-weight-semi-bold ml-2">32%</div>
              </div>

            </div>
          </div>
        </div>

        <div class="col-lg-5 col-md-5 col-xxl-5 mb-3 pl-md-2 pr-md-2 pr-xxl-2">
          <div class="card h-md-100">
            <div class="card-header d-flex flex-between-center pb-0">
              <h6 class="theme-color text-uppercase font-weight-semi-bold">State-Level Map<span class="ml-1 text-400"
                  data-toggle="tooltip" data-placement="top" title="Map showing population distribution of vulnerable individuals"><span
                    class="far fa-question-circle" data-fa-transform="shrink-1"></span></span>
                <!--<span class="badge badge-soft-success rounded-capsule ml-2">9.54%</span>-->
              </h6>
            </div>
            <div class="card-body rounded-soft ">
              <div appDataRefresh echarts (chartInit)="chartDataService.addEchartsInstance('map1', $event)"
                [options]="chartDataService.mapOptions" (chartClick)="chartDataService.mapClickHandler($event)" class="demo-chart"></div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-5 col-xxl-5 mb-3 pl-md-2 pr-xxl-2">
          <div class="card h-md-100">
            <div class="card-header d-flex flex-between-center pb-0">
              <h6 class="theme-color text-uppercase font-weight-semi-bold">LGA-Level Map<span class="ml-1 text-400"
                  data-toggle="tooltip" data-placement="top" title="A Treemap that shows population of vulnerable individuals at the Local Government Area level"><span
                    class="far fa-question-circle" data-fa-transform="shrink-1"></span></span>
                <!--<span class="badge badge-soft-success rounded-capsule ml-2">9.54%</span>-->
              </h6>
            </div>
            <div class="card-body rounded-soft ">
              <div (chartInit)="chartDataService.addEchartsInstance('tree1', $event)" echarts
                [options]="chartDataService.treeMapOptions"
                class="demo-chart"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- ////////////////////// -->
      <div class="row no-gutters">
        <div class="col-md-12">
          <div class="card mb-3">
            <div class="card-header">
              <div class="row align-items-center justify-content-between">
                <div class="col-6 col-sm-auto d-flex align-items-center pr-0">
                  <!-- <h5 class="fs-0 mb-0 text-nowrap py-2 py-xl-0">Recent Purchases</h5> -->
                </div>
              </div>
            </div>
            <div class="card-body px-0 pt-0 pl-md-2 pr-md-2">
              <p>
              </p>
              <div class="dashboard-data-table pl-4 pr-4">
                <!-- <table (change)="test($event)" datatable class="table table-sm dashboard-data-table fs--1 data-table border-bottom" 
                  data-options='{"responsive":false,"pagingType":"simple","lengthChange":false,"searching":false,"pageLength":8,"columnDefs":[{"targets":[0,6],"orderable":false}],"language":{"info":"_START_ to _END_ Items of _TOTAL_ — <a href=\"#!\" class=\"font-weight-semi-bold\"> view all <span class=\"fas fa-angle-right\" data-fa-transform=\"down-1\"></span> </a>"},"buttons":["copy","excel"]}'> -->
                <table datatable class="table table-sm  fs--1 data-table border-bottom"
                     [dtTrigger]="dtTrigger" [dtOptions]="dtOptions"
                     data-options='{"responsive":false,"pagingType":"simple","lengthChange":false,"searching":false,"pageLength":8,"columnDefs":[{"targets":[0,6],"orderable":false}],"language":{"info":"_START_ to _END_ Items of _TOTAL_ — <a href=\"#!\" class=\"font-weight-semi-bold\"> view all <span class=\"fas fa-angle-right\" data-fa-transform=\"down-1\"></span> </a>"},"buttons":["copy","excel"]}'>
                  <!-- <thead class="bg-200 text-900">
                    <tr>
                      <th class="sort pr-1 align-middle">State</th>
                      <th class="sort pr-1 align-middle">LGA</th>
                      <th class="sort pr-1 align-middle">Disabled</th>
                      <th class="sort pr-1 align-middle">Elderly</th>
                      <th class="sort pr-1 align-middle">Widow Headed Households</th>
                      <th class="sort pr-1 align-middle">Female Headed Households</th>
                      <th class="sort pr-1 align-middle">Chronically Ill</th>
                      <th class="sort pr-1 align-middle">Under 5</th>
                      <th class="sort pr-1 align-middle">Under 15</th>
                    </tr>
                  </thead>
                  <tbody id="purchases">
                    <tr *ngFor="let group of dtData" class="btn-reveal-trigger">
                      <th class="align-middle">{{group['STATE']}}</th>
                      <th class="align-middle">{{group['LGA']}}</th>
                      <td class="align-middle">{{group['PERSONS WITH DISABILITY']}}</td>
                      <td class="align-middle">{{group['AGED']}}</td>
                      <td class="align-middle">{{group['WIDOW HEADED HHS']}}</td>
                      <td class="align-middle">{{group['FEMALE HEADED HHS']}}</td>
                      <td class="align-middle">{{group['CHRONICALLY ILL']}}</td>
                      <td class="align-middle">{{group['UNDER 5']}}</td>
                      <td class="align-middle">{{group['UNDER 15']}}</td>
                    </tr>

                  </tbody> -->
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ////////////////////// -->
      <div class="media mb-4 mt-3"><span class="fa-stack mr-2 ml-n1"><i
            class="fas fa-circle fa-stack-2x text-300"></i><i
            class="fa-inverse fa-stack-1x text-primary fas fa-chart-area theme-color"></i></span>
        <div class="media-body">
          <h5 class="mb-0 text-primary position-relative"><span
              class="bg-200 pr-3 text-primary text-uppercase theme-color">Mobile Vulnerability Analysis and Mapping
              (mVAM)</span><span class="border position-absolute absolute-vertical-center w-100 z-index--1 l-0"></span>
          </h5>
          <p class="mb-0 text-uppercase">mVAM Trends</p>
        </div>
      </div>

      <div class="row no-gutters">

        <div class="col-md-6 col-xxl-3 mb-3 pr-md-2 pr-xxl-2">
          <div class="card h-md-100">
            <div class="card-header d-flex flex-between-center pb-0">
              <h6 class="theme-color text-uppercase font-weight-semi-bold">% People with inadequate diet<span
                  class="ml-1 text-400" data-toggle="tooltip" data-placement="top"
                  title="Map showing the percentage of people with inadequate diets in states"><span class="far fa-question-circle"
                    data-fa-transform="shrink-1"></span></span>
                <!--<span class="badge badge-soft-success rounded-capsule ml-2">9.54%</span>-->
              </h6>
            </div>
            <div class="card-body rounded-soft ">
              <!-- <div echarts [options]="mapOptions2" class="demo-chart"></div> -->
              <div echarts (chartInit)="chartDataService.addEchartsInstance('map2', $event)"
                (chartClick)="chartDataService.mapClickHandler($event)"
                [options]="chartDataService.mapOptions2" class="demo-chart"></div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xxl-3 mb-3 pl-md-2 pr-xxl-2">
          <div class="card h-md-100">
            <div class="card-header pb-0">
              <h6 class="mb-0 mt-2 d-flex align-items-center text-uppercase">% People with inadequate diet - Trend<span
                  class="ml-1 text-400" data-toggle="tooltip" data-placement="top"
                  title="Chart showing the trend of people with inadequate diets over a period of time"><span
                    class="far fa-question-circle"
                    data-fa-transform="shrink-1"></span></span>
              </h6>
            </div>
            <div class="card-body">
              <div echarts (chartInit)="chartDataService.addEchartsInstance('line1', $event)"
                [options]="chartDataService.lineOptions" class="demo-chart"></div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xxl-3 mb-3 pr-md-2 pl-xxl-2 pr-xxl-2">
          <div class="card h-md-100">
            <div class="card-header d-flex flex-between-center pb-0">
              <h6 class="theme-color text-uppercase font-weight-semi-bold">% Livelihood-Based Coping Startegies<span
                  class="ml-1 text-400" data-toggle="tooltip" data-placement="top"
                  title="Map showing the percentage of people with Livelihood-based coping startegies in states"><span
                    class="far fa-question-circle"
                    data-fa-transform="shrink-1"></span></span>
                <!--<span class="badge badge-soft-success rounded-capsule ml-2">9.54%</span>-->
              </h6>
            </div>
            <div class="card-body rounded-soft ">
              <div echarts (chartInit)="chartDataService.addEchartsInstance('map3', $event)"
                (chartClick)="chartDataService.mapClickHandler($event)"
                [options]="chartDataService.mapOptions3" class="demo-chart"></div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xxl-3 mb-3 pl-md-2">
          <div class="card h-md-100">
            <div class="card-header pb-0">
              <h6 class="mb-0 mt-2 d-flex align-items-center text-uppercase">% Livelihood-Based Coping Startegies -
                Trend<span class="ml-1 text-400" data-toggle="tooltip" data-placement="top"
                  title="Chart showing the trend of people with Livelihood-based coping startegies over a period of time"><span
                    class="far fa-question-circle"
                    data-fa-transform="shrink-1"></span></span>
              </h6>
            </div>
            <div class="card-body">
              <div echarts (chartInit)="chartDataService.addEchartsInstance('line2', $event)"
                [options]="chartDataService.lineOptions2" class="demo-chart"></div>
            </div>
          </div>
        </div>

      </div>
      <!-- <div class="row no-gutters">

        

      </div> -->
      <footer>
        <div class="row no-gutters justify-content-between fs--1 mt-4 mb-3">
          <div class="col-12 col-sm-auto text-center">
            <p class="mb-0 text-600">Zero Hunger Roundtable Dashboard <span class="d-none d-sm-inline-block">|
              </span><br class="d-sm-none" /> 2020 &copy; <a target="_blank" href="https://wfp.org">WFP</a></p>
          </div>
          <div class="col-12 col-sm-auto text-center">
            <!-- <p class="mb-0 text-600">v2.7.2</p> -->
          </div>
        </div>
      </footer>
    </div>
  </div>
</main>


<div class="modal modal-fixed-right fade" id="exampleModalRight" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalRightLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-vertical" role="document">
    <div class="modal-content border-0 min-vh-100">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalRightLabel">Filters</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span class="font-weight-light"
            aria-hidden="true">&times;</span></button>
      </div>

      <div class="custom-control custom-switch">
        <input class="custom-control-input" id="customSwitch1" type="checkbox">
        <label class="custom-control-label" for="customSwitch1">Toggle this switch element</label>
      </div>

      <div class="modal-body py-5 text-center"><img class="img-fluid" src="../assets/img/illustrations/modal-right.png"
          alt="">
        <div class="custom-control custom-checkbox">
          <input class="custom-control-input" id="customCheck1" type="checkbox">
          <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input class="custom-control-input" id="customCheck2" type="checkbox">
          <label class="custom-control-label" for="customCheck2">Check another custom checkbox</label>
        </div>
      </div>
    </div>
  </div>
</div>

 <div class="modal fade modal-fixed-right modal-theme overflow-hidden" id="settings-modal" tabindex="-1" role="dialog"
   aria-labelledby="settings-modal-label" aria-hidden="true"
   data-options='{"autoShow":true,"autoShowDelay":3000,"showOnce":true}'>
   <div class="modal-dialog modal-dialog-vertical" role="document">
     <div class="modal-content border-0 vh-100 scrollbar perfect-scrollbar">
       <div class="modal-header modal-header-settings">
         <div class="z-index-1 py-1 flex-grow-1">
           <h5 class="text-white" id="settings-modal-label"> <span class="fas fa-filter mr-2 fs-0"></span>Filters</h5>
           <p class="mb-0 fs--1 text-white opacity-75"> Filter Vulnerable and National Social Register</p>
         </div>
         <button class="close z-index-1" type="button" data-dismiss="modal" aria-label="Close"><span
             class="font-weight-light" aria-hidden="true">&times;</span></button>
       </div>
       <div class="modal-body px-card">
         <h5 aria-controls="collapseDecile" href="#collapseDecile" data-toggle="collapse" class="fs-0 pointer">Deciles<i
             class="fas fa-bars float-right"></i></h5>
         <p class="fs--1">Choose decile information for groups. </p>
         <div class="collapse show" id="collapseDecile">
           <div class="custom-control custom-checkbox">
             <input (change)="chartDataService.setDecileModel($event)"
               [checked]="chartDataService.decileModel.decile16" class="custom-control-input checkbox-bulk-select"
               type="checkbox" value="" id="decile16">
             <label class="custom-control-label" for="decile16">
               Deciles 1-6
             </label>
           </div>
           <div class="custom-control custom-checkbox">
             <input (change)="chartDataService.setDecileModel($event)"
               [checked]="chartDataService.decileModel.decile710" class="custom-control-input checkbox-bulk-select"
               type="checkbox" value="" id="decile710">
             <label class="custom-control-label" for="decile710">
               Deciles 7-10
             </label>
           </div>
         </div>
         <hr />
         <h5 aria-controls="collapseStates" href="#collapseStates" data-toggle="collapse" class="fs-0 pointer">States<i
             class="fas fa-bars float-right"></i></h5>
         <p class="fs--1">Select and filter by states. </p>
         <div class="collapse show" id="collapseStates">
           <!-- <div class="form-check">
             <input checked class="form-check-input" type="checkbox" value="" id="allStates">
             <label class="form-check-label" for="allStates">
               All States
             </label>
           </div> -->
           <hr />
           <div *ngFor="let state of chartDataService.states">
             <!-- <div class="form-check">
               <input (change)="chartDataService.setStateModel($event)" class="form-check-input" type="checkbox" value="" id="{{state}}">
               <label class="form-check-label" for="{{state}}">
                 {{state}}
               </label>
             </div> -->
             <div class="custom-control custom-checkbox">
               <input (change)="chartDataService.setStateModel($event)"
                 [checked]="chartDataService.stateModel[state]" class="custom-control-input checkbox-bulk-select"
                 id="{{state}}"
                 type="checkbox" />
               <label class="custom-control-label" for="{{state}}">{{state}}</label>
             </div>
           </div>
         </div>
         <!-- <hr /> -->
         <!-- <h5 aria-controls="collapseDate" href="#collapseDate" data-toggle="collapse" class="fs-0 pointer">Date<i
             class="fas fa-bars float-right"></i></h5>
         <p class="fs--1">Select and filter by date. </p> -->
         <!-- <div class="collapse show" id="collapseDate"> -->
           <!-- <p>Min value: <input min="minValue" [(value)]="chartDataService.minValue"
               (change)="chartDataService.setValsforDatePicker($event)"
               type="date"></p>
           <p>Max value: <input max="maxValue" [(value)]="chartDataService.maxValue"
               (change)="chartDataService.setValsforDatePicker($event)"
               type="date"></p> -->
          <!-- <ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ngx-slider> -->
          <!-- <button (click)="chartDataService.setValsforDatePicker()">Test Models</button> -->
          <!-- <date-range-picker (rangeSelected)="pickerChange($event)" [options]="datePickerOption" [parentFormGroup]="form"
            [controlName]="'myDateRange'"></date-range-picker>
          <date-range-picker (rangeSelected)="pickerChange($event)" [options]="datePickerOption"
            [parentFormGroup]="form" [controlName]="'myDateRange'"></date-range-picker> -->
         <!-- </div> -->
         
       </div>
     </div>
   </div>
 </div>